/** {*/
/*box-sizing: border-box;*/
/*}*/

.message {
    color: red;
}
.message.ng-enter {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { / Firefox / from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fadein { / Safari and Chrome / from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { / Opera / from { opacity:0; } to { opacity: 1; } }



/* animate ng-view */

.page.ng-enter {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
    transform: translateY(0px);
}

.page.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translate(0px);

}
.background {
    background-image: url("../img/horseheadir_hubble.jpg");
    background-repeat: no-repeat;

    background-position: top;


}
.transparent-background {
    background-color: rgba(255, 255, 255, 0.6) !important;

}
.transparent-sidenav-background {
    background-color: rgba(0, 0, 0, 0) !important;

}