<h1>Bizarre</h1>
Reserve a table at our Bizarre Bazaar (Sat 10am - 8pm)
This summer we  hope to create a grand marketplace for people who love games.
The rules are simple.  The Bazaar runs from 10am to 8pm on Sat, and anyone can reserve a table for $10.
We encourage stores to bring product they are ready to take off their shelves -
or their best selling products - whatever they think will move the best.
Whoever reserves a table can only have as much product as will fit on their table -
but they can replenish their stock if they desire.  They may hang a banner from their table,
or decorate their table, but not in a way that takes up more space.
Anyone with a paid admission may reserve a table for the Bazaar for $5.