
    <h1>Event Sponsor</h1>
    <h3>Be an Event Partner</h3>
        <p>All that is necessary to be an event partner is to run an event at Wolfcon.
        Event partners get one days free admission for every four hours of events they run.
        This could be running a couple two hour seminars, or running one four hour game event,
        for example.  Event partners may reserve a table at the Bazaar for $5. Event partners
        may charge money for their events at their own discretion.   Want to demo a game
        of your own creation - be an event partner!</p>
        <p>What types of events are we looking for?</p>
        <p>Cosplay events, miniatures, RPGs, board games, LARP, computer, seminar and other events,
        including our bizarre bazaar, a puzzle hunt, multi-player cooperative spaceship simulators,
        tournaments, game demos.  Almost any game related activity that you are interested in
        organizing and running qualifies.</p>
