   <h1>Marketing</h1>
   <h3>Be a marketing partner</h3>
    <p>Marketing partners are groups or organizations that help us get the word out to people who game and we want to
    show our appreciation by giving back. To qualify a gaming group or organization wishing to become a partner
    will need preregister and give a group affiliation. Marketing partners who let us know ahead of time, and we list their name as a possible
    affiliate when people register online or on-site. For every person who selects your group as an affiliate, we will set aside $1 for every paid one day registration, and $2
    for every paid two day registration.  At the end of the convention, we will send you
    the total amount  set aside for your group.</p>

    <h1>How can I partner with Wolfcon?</h1>
    <p>There are lots of ways - and they aren't mutually exclusive - we would love for you to participate in as many of these as you can.</p>
    <ul>
        <li>Reserve a table at our Bizarre Bazaar (Sat 10am - 8pm)</li>
        <li>Be a Vendor</li>
        <li>Exchange links, banners and/or flyers</li>
        <li>Be a marketing partner</li>
        <li>Be a Special guest</li>
        <li>Be an event  partner</li>
        <li>Be a Sponsor</li>
        <li>Volunteer</li>
        <li>Attend</li>
    </ul>

