
    <p>Sponsors are any group or individual who pays for an ad in our convention booklet, or gives us product to use for our
        games library.   Ideally we would love to have local sponsors come out and run seminars about their product, demo their games, help us market and provide some type of prize support that helps them promote their game.  We are all about the win/win/win - any type of setup where everyone benefits.
    </p>

    <ul>
        <li>Low Cost</li>
        <li>Trade</li>
        <li>Blah blah blah blah</li>
        <li>Blah blah blah blahBlah blah blah blah</li>
        <li>Blah blah blah blahBlah blah blah blahbc</li>
    </ul>

