       <div>
             <h1> Envisioning a great games convention. </h1>
             <p> Imageine an enormous games convention. Imagine it within easy driving range. Imagine a place where gamers connect with the gaming industry, and other gamers. Imagine geing present for sneak peeks and new surprises from manufacturers and distributors. Imagine the small seed of a convention like Gencon was in 1971.  Now imagine being invited to be a part of it from the beginning.
             </p>
             <h3> Are you game?</h3>
             <p>  If ten years of running Wolfcon has taught us anything, it is that we cannot do it alone.  We need the support of gaming groups. We need the support of  mfr's, distributors, gamers,  vendors, and other interested parties.   We can supply experience, technology and connections. We can be the nexus that brings all these people and things together,  but we cannot do it all on our own.  We need partners.  So...are you game?

             </p>
            </div>
       <div>
            <h3> How to partner with Wolfcon</h3>
            <ul>
            <li>Reserve a table at our  Bazaar (Sat 10am - 8pm)</li>
            <li>Be a Vendor</li>
            <li>Exchange links, banners and/or flyers</li>
            <li>Be a marketing partner</li>
            <li>Be a Special guest</li>
            <li>Be an event partner</li>
            <li>Be a Sponsor</li>
            <li>Volunteer</li>
            <li>Attend</li>
            </ul>
            </div>

        </div>
        <div>
            <div>
            Want to do more? Contacut us with your idea or proposal.</div>
        </div>

